In [2]:
import pandas as pd # Importing Pandas and calling it pd

    pga = pd.read_csv(r'/Users/kevryan/desktop/PGATOUR_data2.csv') # Importing data set and assigning it variable name 'pga'

    pd.DataFrame(pga) # Printing the dataset

,Player,EVENTS_PLAYED,POINTS,NUMBER_OF_WINS,NUMBER_OF_TOP_Tens,POINTS_BEHIND_LEAD,ROUNDS_PLAYED,SG_PUTTING_PER_ROUND,TOTAL_SG:PUTTING,MEASURED_ROUNDS,...,AVG_CARRY_DISTANCE,LONGEST_CARRY_DISTANCE,SHORTEST_CARRY_DISTANCE,AVG_SCORE,TOTAL_STROKES,TOTAL_ROUNDS,MAKES_BOGEY%,BOGEYS_MADE,HOLES_PLAYED,AGE
0,Aaron Baddeley,27.0,342.0,0.0,1.0,5275.0,84.0,-0.062,-4.064,66.0,...,278.2,312.6,237.1,70.850,5518.0,78.0,16.24,228.0,1404.0,37.0
1,Aaron Wise,27.0,1498.0,1.0,4.0,4119.0,82.0,0.245,17.134,70.0,...,282.5,314.6,255.7,70.276,5888.0,84.0,16.53,250.0,1512.0,22.0
2,Abraham Ancer,29.0,909.0,0.0,5.0,4708.0,94.0,-0.052,-4.076,79.0,...,275.1,305.8,223.5,70.659,6745.0,96.0,14.76,255.0,1728.0,27.0
3,Adam Hadwin,24.0,1054.0,0.0,3.0,4563.0,88.0,0.145,8.729,60.0,...,277.7,307.7,246.9,70.750,6280.0,89.0,15.61,250.0,1602.0,30.0
4,Adam Schenk,28.0,239.0,0.0,1.0,5378.0,86.0,0.130,8.558,66.0,...,283.0,305.0,236.8,71.370,5683.0,80.0,16.88,243.0,1440.0,26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
326,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
327,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
328,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
329,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
330,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
! pip install -U pandasql # Error message said pandasql module not available. Ran this command in terminal and here to
 #install it

Requirement already satisfied: pandasql in /opt/anaconda3/lib/python3.9/site-packages (0.7.3)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.9/site-packages (from pandasql) (1.21.5)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.9/site-packages (from pandasql) (1.4.4)
Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.9/site-packages (from pandasql) (1.4.39)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas->pandasql) (2022.1)
Requirement already satisfied: greenlet!=0.4.17 in /opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy->pandasql) (1.1.1)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)

In [11]:
from pandasql import sqldf # Import Panda SQL for Python to allow writing of SQL queries.

In [15]:
sqldf("""
    SELECT 
        LONGEST_CARRY_DISTANCE
    FROM pga
    WHERE 
        LONGEST_CARRY_DISTANCE > 305.0
    
""") # Using SQL to list everyone with a longest carry of over 305 yards. 93 golfers satisfied this condition

    LONGEST_CARRY_DISTANCE
0                    312.6
1                    314.6
2                    305.8
3                    307.7
4                    313.6
..                     ...
88                   330.4
89                   334.4
90                   329.6
91                   319.5
92                   307.2

[93 rows x 1 columns]